version: "3.8"

services:
  dataserver1:
    image: golang:1.21
    working_dir: /app
    command: go run ./cmd/dataserver --addr :9101 --storage_dir /blocks
    volumes:
      - .:/app
      - blocks1:/blocks
    ports:
      - "9101:9101"

  dataserver2:
    image: golang:1.21
    working_dir: /app
    command: go run ./cmd/dataserver --addr :9102 --storage_dir /blocks
    volumes:
      - .:/app
      - blocks2:/blocks
    ports:
      - "9102:9102"

  metadata:
    image: golang:1.21
    working_dir: /app
    command: >-
      go run ./cmd/metadataserver
      --addr :9100
      --block-size 1048576
      --data-servers dataserver1:9101,dataserver2:9102
      --metadata-file /metadata/metadata.json
      --persist-interval 30s
    volumes:
      - .:/app
      - metadata:/metadata
    ports:
      - "9100:9100"
    depends_on:
      - dataserver1
      - dataserver2

  ui:
    image: golang:1.21
    working_dir: /app
    command: >-
      go run ./cmd/uiserver
      --addr :8090
      --metadata-server metadata:9100
      --download-concurrency 4
    volumes:
      - .:/app:ro
    ports:
      - "8090:8090"
    depends_on:
      - metadata

volumes:
  blocks1:
  blocks2:
  metadata:
