version: "3.8"

services:
  dataserver1:
    image: golang:1.21
    working_dir: /app
    command: go run ./cmd/dataserver --addr :9101 --storage_dir /blocks --verify-interval 2m
    volumes:
      - .:/app
      - blocks1:/blocks # stores blocks and CRC checksum files
    ports:
      - "9101:9101"

  dataserver2:
    image: golang:1.21
    working_dir: /app
    command: go run ./cmd/dataserver --addr :9102 --storage_dir /blocks --verify-interval 2m
    volumes:
      - .:/app
      - blocks2:/blocks # stores blocks and CRC checksum files
    ports:
      - "9102:9102"

  metadata:
    image: golang:1.21
    working_dir: /app
    # Metadata server issues upload plans and waits for clients to finalize them with complete_file.
    command: >-
      go run ./cmd/metadataserver
      --addr :9100
      --block-size 1048576
      --data-servers dataserver1:9101,dataserver2:9102
      --metadata-file /metadata/metadata.json
      --persist-interval 30s
    volumes:
      - .:/app
      - metadata:/metadata
    ports:
      - "9100:9100"
    depends_on:
      - dataserver1
      - dataserver2

  ui:
    image: golang:1.21
    working_dir: /app
    command: >-
      go run ./cmd/uiserver
      --addr :8090
      --metadata-server metadata:9100
      --download-concurrency 4
    volumes:
      - .:/app:ro
    ports:
      - "8090:8090"
    depends_on:
      - metadata

  checksum_migrator:
    image: golang:1.21
    working_dir: /app
    entrypoint: ["/bin/sh", "-c"]
    command: >-
      go run ./cmd/checksum-migrator --storage_dir /blocks1 &&
      go run ./cmd/checksum-migrator --storage_dir /blocks2
    volumes:
      - .:/app
      - blocks1:/blocks1
      - blocks2:/blocks2
    depends_on:
      - dataserver1
      - dataserver2

volumes:
  blocks1:
  blocks2:
  metadata:
