[Unit]
Description=FileFly metadata server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Environment=FILEFLY_METADATASERVER_ADDR=0.0.0.0:9000
Environment=FILEFLY_METADATASERVER_BLOCK_SIZE=1000000
Environment=FILEFLY_METADATASERVER_DATA_SERVERS=34.243.247.163:9001
Environment=FILEFLY_METADATASERVER_ADVERTISED_DATA_SERVERS=34.243.247.163:9001
Environment=FILEFLY_METADATASERVER_METADATA_FILE=/home/ec2-user/metadata/metadata.json
Environment=FILEFLY_METADATASERVER_PERSIST_INTERVAL=30s
Environment=FILEFLY_METADATASERVER_EXTRA_FLAGS=
ExecStart=/home/ec2-user/bin/metadataserver --addr ${FILEFLY_METADATASERVER_ADDR} --block-size ${FILEFLY_METADATASERVER_BLOCK_SIZE} --data-servers ${FILEFLY_METADATASERVER_DATA_SERVERS} --advertised-data-servers ${FILEFLY_METADATASERVER_ADVERTISED_DATA_SERVERS} --metadata-file ${FILEFLY_METADATASERVER_METADATA_FILE} --persist-interval ${FILEFLY_METADATASERVER_PERSIST_INTERVAL} --integrity-interval 0 ${FILEFLY_METADATASERVER_EXTRA_FLAGS}
Restart=on-failure
RestartSec=5
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
